/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --accent-big-color: #ffc2e6;
  --accent-h3-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --border-line-color: #353430;
}

:root.theme-light {
  --accent-color: #ff8dcb;
  --accent-big-color: #ffc2e6;
  --accent-h3-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --hover-color: rgba(50, 49, 45, 0.4);
  --border-line-color: #353430;
}

.rec-text {
  display: none;
}

.rec-image {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-big-color: #ffc2e6;
    --accent-h3-color: #353430;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --hover-color: rgba(50, 49, 45, 0.4);
    --border-line-color: #353430;

    /* Дублируем переменные светлой темы */
  }
}
@media (width > 1023.99px) {
  .no-focus {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .footer {
    text-shadow: 2px 2px 0px #ff0070;
  }
}
