/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  min-width: 375px;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 668px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  margin-bottom: 40px;
}

.rec-block {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 33px;
}

.rec-text {
  display: block;
  width: 33px;
  height: 26px;
  flex-shrink: 0;
  color: var(--hide);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.rec-icon-up {
  display: flex;
  align-self: end;
  width: 25.038px;
  height: 24.999px;
  margin-right: 10px;
  border-top: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
}

.rec-image {
  display: block;
  width: 9px;
  height: 9px;
  margin-top: 7px;
  margin-left: 8px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--hide);
  background-position: center;
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  color: var(--accent-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.no-bullit {
  list-style-type: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  gap: 10px;
  margin-top: 5px;
  margin-right: 10px;
}

.header__theme-menu-item {
  display: inline-flex;
  height: 26px;
  width: 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--accent-h3-color);
}

.header__theme-menu-button:hover {
  display: block;
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:active {
  border-bottom: 1px solid var(--border-line-color);
}

.header__theme-menu-item .header__theme-menu-button_active {
  border: 1px solid var(--border-line-color);
}

.header__theme-menu-button {
  color: var(--border-line-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border-color: transparent;
  background-color: transparent;
}

.header-title {
  display: flex;
  width: 355px;
  margin-left: 8px;
  margin-top: 70px;
  margin-bottom: 55px;
  color: var(--accent-big-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.rec-icon-down {
  display: block;
  width: 25.038px;
  height: 24.999px;
  margin-left: 10px;
  border-bottom: 1px solid var(--border-line-color);
  border-left: 1px solid var(--border-line-color);
}

.undertitle {
  margin: 0px 10px;
  margin-bottom: 31px;
}

.Why {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 57px 23px 408px 23px 408px;
  gap: 10px;
  margin-left: 10px;
  margin-top: 42px;
}

.bl1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bl2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bl3 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.bl4 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.bl5 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.What {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 57px 23px 291px 23px 291px 23px 361px;
  gap: 10px;
  margin-top: 40px;
  margin-left: 10px;
}

.bl6 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bl7 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bl8 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.bl9 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.bl10 {
  grid-column: 1/2;
  grid-row: 5/6;
}
.bl11 {
  grid-column: 1/2;
  grid-row: 6/7;
}

.bl12 {
  grid-column: 1/2;
  grid-row: 7/8;
}

.How {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 70px 47px 23px 365px 23px 201px 23px 341px 23px 201px 23px 177px;
  gap: 20px;
  margin-left: 10px;
  margin-top: 40px;
}

.bl13 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bl14 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bl15 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.bl16 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.bl17 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.bl18 {
  grid-column: 1/2;
  grid-row: 6/7;
}

.bl19 {
  grid-column: 1/2;
  grid-row: 7/8;
}

.bl20 {
  grid-column: 1/2;
  grid-row: 8/9;
}

.bl21 {
  grid-column: 1/2;
  grid-row: 9/10;
}

.bl22 {
  grid-column: 1/2;
  grid-row: 10/11;
}

.bl23 {
  grid-column: 1/2;
  grid-row: 11/12;
}

.bl24 {
  grid-column: 1/2;
  grid-row: 12/13;
}

.h2-text {
  display: block;
  color: #000028;
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.h3-text {
  display: flex;
  color: var(--border-line-color);

  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.h4-text {
  flex-shrink: 0;
  color: var(--accent-h3-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:hover {
  border-bottom: solid 1px var(--accent-h3-color);
}

.link:focus {
  border: solid 1px var(--accent-h3-color);
}

.no-bolt {
  font-weight: 400;
}

.pics {
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: 24px 142px 355px 237px 355px 237px;
  gap: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.bl25 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.pic-sunset {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../images/sunset.png);
  background-size: contain;
}

.pic-ice-cream {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../images/ice-cream.png);
  background-size: contain;
}

.pic-tape {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(../images/tape.png);
  background-size: contain;
}

.pic-books {
  grid-column: 1/2;
  grid-row: 5/6;
  background-image: url(../images/books.png);
  background-size: contain;
}

.pic-street {
  grid-column: 1/2;
  grid-row: 6/7;
  background-image: url(../images/street.png);
  background-size: contain;
}

footer {
  display: flex;
  width: 375px;
  height: 667px;
  padding: 10px 0px;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--accent-big-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  flex-shrink: 0;
}

.title {
  margin-left: 10px;
}

@media (width > 767.99px) {
  .page {
    width: 768px;
  }

  .intro {
    width: 768px;
    height: 1024px;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 00px;
    margin-bottom: 60px;
  }

  .rec-block {
    margin-bottom: 140px;
  }

  .rec-icon-up {
    margin-right: 0px;
  }
  .rec-icon-down {
    margin-left: 20px;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    margin-top: 5px;
    margin-right: 0px;
  }

  .header-title {
    display: flex;
    width: 759px;
    height: 130px;
    margin-left: 0px;
    margin-top: 173px;
    margin-bottom: 140px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .undertitle {
    width: 364px;
    align-self: end;
    margin-bottom: 138px;
    margin-right: 0px;
  }

  .Why {
    display: grid;
    grid-template-columns: 236px 472px;
    grid-template-rows: 23px 291px 23px 291px;
    gap: 10px;
    margin-left: 20px;
    margin-top: 60px;
  }

  .bl1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .bl2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .bl3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bl4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .bl5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .What {
    display: grid;
    grid-template-columns: 236px 472px;
    grid-template-rows: 70px 23px 131px 23px 131px 23px 154px;
    gap: 20px 20px;
    margin-left: 20px;
    margin-top: 80px;
  }

  .bl6 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .bl7 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .bl8 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .bl9 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .bl10 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .bl11 {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  .bl12 {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  .How {
    display: grid;
    grid-template-columns: 236px 472px;
    grid-template-rows: 23px 23px 270px 23px 154px 23px 247px 23px 153px 23px 131px;
    gap: 20px;
    margin-left: 20px;
    margin-top: 80px;
  }

  .bl13 {
    grid-column: 1/2;
    grid-row: 1/9;
  }

  .bl14 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .bl15 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bl16 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .bl17 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .bl18 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .bl19 {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .bl20 {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  .bl21 {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  .bl22 {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  .bl23 {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  .bl24 {
    grid-column: 2/3;
    grid-row: 11/12;
  }

  .pics {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 23px 192px 230px 318px;
    gap: 20px;
    margin-left: 20px;
    margin-top: 79px;
  }

  .bl25 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .pic-sunset {
    grid-column: 1/3;
    grid-row: 2/3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-tape {
    grid-column: 1/2;
    grid-row: 3/5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-books {
    grid-column: 2/3;
    grid-row: 3/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-street {
    grid-column: 2/4;
    grid-row: 4/5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  footer {
    width: 768px;
    height: 1024px;
    padding: 20px;
    margin-top: 60px;
    padding-left: 0px;
    margin-left: 0px;
    justify-self: center;
    align-items: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width > 1023.99px) {
  .intro {
    width: 1024px;
    height: 768px;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 60px;
  }

  .nav-direction {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
  }
  .rec-block {
    margin-bottom: 5px;
  }

  .rec-icon-up {
    margin-right: 0px;
  }
  .rec-icon-down {
    margin-left: 00px;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: -10px;
    margin-left: 380px;
    margin-right: 310px;
  }

  .header-title {
    display: flex;
    width: 759px;
    height: 130px;
    margin-left: -10px;
    margin-top: 274.5px;
    margin-bottom: 104px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .undertitle {
    width: 491px;
    align-self: end;
    margin-bottom: 99px;
    margin-right: 0px;
  }

  .h2-text {
    align-self: end;
  }

  .Why {
    display: grid;
    grid-template-columns: 315px 649px;
    grid-template-rows: 23px 221px 23px 221px;
    gap: 10px 20px;
  }

  .bl1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .bl2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .bl3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bl4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .bl5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .What {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 47px 23px 398px;
    gap: 20px 20px;
    margin-top: 70px;
  }

  .bl6 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .bl7 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .bl8 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .bl9 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bl10 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .bl11 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .bl12 {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .How {
    display: grid;
    grid-template-columns: 315px 649px;
    grid-template-rows: 23px 23px 201px 23px 107px 23px 154px 23px 108px 23px 107px;
    gap: 20px 20px;
    margin-top: 70px;
  }

  .bl13 {
    grid-column: 1/2;
    grid-row: 1/9;
  }

  .bl14 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .bl15 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bl16 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .bl17 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .bl18 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .bl19 {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .bl20 {
    grid-column: 2/3;
    grid-row: 7/8;
  }

  .bl21 {
    grid-column: 2/3;
    grid-row: 8/9;
  }

  .bl22 {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  .bl23 {
    grid-column: 2/3;
    grid-row: 10/11;
  }

  .bl24 {
    grid-column: 2/3;
    grid-row: 11/12;
  }

  .pics {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: 23px 260px 315px 428px;
    gap: 20px 20px;
  }

  .bl25 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .pic-sunset {
    grid-column: 1/3;
    grid-row: 2/3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-tape {
    grid-column: 1/2;
    grid-row: 3/5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-books {
    grid-column: 2/3;
    grid-row: 3/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pic-street {
    grid-column: 2/4;
    grid-row: 4/5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  footer {
    width: 1024px;
    height: 768px;
    padding: 20px;
    justify-self: center;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
