/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --accent-big-color: #db00ff;
  --accent-h3-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --border-line-color: #ff0070;
  --hide: #ff0070;
}
